name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assemble

      - name: Upload JAR and Compiled Classes
        uses: actions/upload-artifact@v4
        with:
          name: marketplace-backend
          path: |
            build/libs/*.jar
            build/classes/java/main/**/*
  
  test:
    needs: build
    runs-on: ubuntu-latest
    env:
      MARKETPLACE_DB_URL: jdbc:mysql://localhost:3306/marketplacedb
      MARKETPLACE_DB_USERNAME: ${{ secrets.MARKETPLACE_DB_USERNAME }}
      MARKETPLACE_DB_PASSWORD: ${{ secrets.MARKETPLACE_DB_PASSWORD }}
      MARKETPLACE_JWT_SECRET: ${{ secrets.MARKETPLACE_JWT_SECRET }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Start MySQL
        run: |
          sudo systemctl start mysql
          mysql -e "CREATE DATABASE IF NOT EXISTS marketplacedb;" -u$MARKETPLACE_DB_USERNAME -p$MARKETPLACE_DB_PASSWORD

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run tests with JaCoCo
        run: ./gradlew test jacocoTestReport

      - name: Upload JaCoCo report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: build/reports/jacoco/test

  sonarqube:
    needs: test
    runs-on: ubuntu-latest
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download JAR
        uses: actions/download-artifact@v4
        with:
          name: marketplace-backend
          path: build/libs
          
      - name: Download JaCoCo report
        uses: actions/download-artifact@v4
        with:
          name: jacoco-report
          path: build/reports/jacoco/test

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Analyze with SonarQube
        run: ./gradlew sonar -Dsonar.java.binaries=build/libs -Dsonar.jacoco.reportPaths=build/reports/jacoco/test/jacocoTestReport.xml --info

  publish:
    needs: sonarqube
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download JAR
        uses: actions/download-artifact@v4
        with:
          name: marketplace-backend
          path: build

      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v2
    
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: bryrmiginte
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          push: true
          tags: bryrmiginte/marketplace-backend:latest
