name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assemble

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: marketplace-backend
          path: build/libs/*.jar

  test:
    needs: build
    runs-on: ubuntu-latest
    env:
      MARKETPLACE_DB_URL: jdbc:mysql://localhost:3306/marketplacedb
      MARKETPLACE_DB_USERNAME: ${{ secrets.MARKETPLACE_DB_USERNAME }}
      MARKETPLACE_DB_PASSWORD: ${{ secrets.MARKETPLACE_DB_PASSWORD }}
      MARKETPLACE_JWT_SECRET: ${{ secrets.MARKETPLACE_JWT_SECRET }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Start MySQL
        run: |
          sudo systemctl start mysql
          mysql -e "CREATE DATABASE IF NOT EXISTS marketplacedb;" -u$MARKETPLACE_DB_USERNAME -p$MARKETPLACE_DB_PASSWORD

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run tests
        run: ./gradlew test

  sonarcloud:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Static code analysis
        uses: SonarSource/sonarcloud-github-action@master
        with:
          args: >-
            -Dsonar.projectKey=elias4096_marketplace-backend
            -Dsonar.host.url=https://sonarcloud.io

  publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download JAR
        uses: actions/download-artifact@v4
        with:
          name: marketplace-backend
          path: build/libs

      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v2
    
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: bryrmiginte
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          push: true
          tags: bryrmiginte/marketplace-backend:latest